/*font*/
@font-face {
    font-family: "Fjalla One";
    src: url("FjallaOne-Regular.ttf");
}

/*body styles*/
body {
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
}

/* Tablet Portrait */
@media screen and (max-width: 768px) {
    body { width:100%; }
}

/* Mobile Portrait */
@media screen and (max-width: 400px) {
    body { width: 100%; }
}

/*header styles*/
img.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header button {
    background: none;
}

/*body styles*/
div.body {
    overflow: hidden;
    padding-top: 200px;
    background: black;
    color: white;
}

#background {
   background-size: 100% 100%;
   opacity: 0.4;
}

#promo {
    text-align: center;
    margin: 20px;
}

img.thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 160px;
    width: 250px;
    margin-top: 15px;
    margin-bottom: 15px; 
    opacity: 0.7;
}

/* div holding the thumbnails */
#thumbs {
    position: absolute;
    top: 150%;
    left: 65%; 
    z-index:1;
}

#blockoftext {
    font-family: 'Fjalla One';
    font-size: 98px;
    position: absolute;
    top: 175%;
    left: 5%;
    right: 40%;
    z-index: 1;
    float: left;
}

#review {
    font-family: 'Fjalla One';
    font-size: 48px;
    position: absolute;
    top: 250%;
    left: 25%;
    z-index: 1;
}

/*Gallery Styles*/
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 60%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.active,
.thumbnail:hover {
  opacity: 1;
  border: 1px solid white;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/*footer styles*/
.footer {
    margin: 0;
    width: 100%;
}
